.character-card {
  padding: 20px;
  margin: 20px;
  background-color: #1d1e1f;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  width: fit-content;
  color: #fff;
}

.character-card__name {
  font-weight: bold;
  font-size: 30px;
  margin: 10px;
  text-transform: uppercase;
}

.character-card__image {
  width: 300px;
  height: 400px;
  border-radius: 15px;
}

.character-card__title-data {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #f8d501;
  text-transform: uppercase;
}

.character-card__data {
  font-size: 18px;
  color: #fff;
  margin: 5px;
}
